/* btn start */
.btn {
  background-color: #ff5441;
  color: #fff;
  display: inline-block;
  padding: 18px 20px;
  width: 240px;
  max-width: 100%;
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 18px;
  border: 0;
  cursor: pointer;
  text-align: center;
  letter-spacing: .02em;
  box-shadow: 0px 0px 38px 0px rgba(212, 66, 50, 0.8);
  transition: background .2s;
}

.btn:hover {
  background: #ec4b38;
}

.btn:active {
  opacity: 0.8;
  transform: scale(.95);
}

@media (max-width: 576px) {
  .btn {
    font-size: 16px;
    padding: 16px 20px;
    width: 220px;
  }
}
/* btn end */

/* container start */
.container {
  padding: 0 15px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
/* container end */


/* phone start */
.phone__item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border: 3px solid #fff;
  padding: 8px 16px;
  border-radius: 21.5px;
  transition: background .2s, opacity .2s;
}

.phone__item:hover {
  color: #1f1f1f;
  background: #fff;
}

.phone__item:active {
  opacity: 0.8;
}
/* phone end */

/* btn-menu start */
.btn-menu {
  background: none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  border: 0;
}

.btn-menu__box {
  display: inline-block;
  width: 40px;
  height: 24px;
}

.btn-menu__inner::before,
.btn-menu__inner::after,
.btn-menu__inner {
  background: #fff;
  width: 100%;
  height: 4px;
  border-radius: 5px;
}

.btn-menu__inner {
  display: block;
  top: 50%;
  position: relative;
}

.btn-menu__inner::before,
.btn-menu__inner::after {
  content: '';
  position: absolute;
  left: 0;
}

.btn-menu__inner::before {
  top: -10px;
}

.btn-menu__inner::after {
  bottom: -10px;
}
/* btn-menu end */