.section-about {
  background: linear-gradient(to top, #2d2c2c, #1f1f1f);
  color: #fff;
  position: relative;
}

.section-about__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 1400px;
}

.section-about__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.section-about__content {
  width: 50%;
  padding-left: 80px;
}

.section-about__title {
  text-align: left;
  margin-bottom: 20px;
}

.section-about__text {
  font-size: 18px;
  line-height: 1.67;
  margin: 0;
}

@media (max-width: 1200px) {
  .section-about {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section-about__content {
    padding-left: 50px;
  }
}

@media (max-width: 767px) {
  .section-about__img {
    width: 100%;
  }

  .section-about__container {
    justify-content: center;
  }
  
  .section-about__content {
    padding-left: 0;
    width: 500px;
    max-width: 100%;
  }
}